@font-face {
  font-family: "Hanken Grotesk";
  src: url("/src/assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  /* --- Primary Colors --- */
  --color-light-red: hsl(0, 100%, 67%);
  --color-orangey-yellow: hsl(39, 100%, 56%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-cobalt-blue: hsl(234, 85%, 45%);

  /* --- Gradients Colors --- */
  /* Background */
  --color-light-slate-blue: hsl(252, 100%, 67%);
  --color-light-royal-blue: hsl(241, 81%, 54%);
  /* Circle */
  --color-violet-blue: hsla(256, 72%, 46%, 1);
  --color-persian-blue: hsla(241, 72%, 46%, 0);

  /* --- Neutral Colors --- */
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavendar: hsl(241, 100%, 89%);
  --color-dark-grey-blue: hsl(224, 30%, 27%);
}

@layer base {
  body {
    font-family: "Hanken Grotesk", system-ui, sans-serif;

  }
  
  p {
    color: var(--color-light-lavendar);
    font-size: 18px;
  }

  h1,
  h2 {
    color: white;
    margin: 0;
    padding: 0;
  }
}
